<div id="list_vue_app">
  <ul>
    <li>{{ item }}</li>
  </ul>
  <%= link_to('Homepage (react)', root_path, class: 'block') %>
  <%= link_to('List (react)', lists_path, class: 'block') %>
</div>

<%= javascript_pack_tag 'list-vue' %>
