<div class="new-chat-room">
  <%= form_for @chat_room, authenticity_token: true do |f| %>
    <%= f.label :topic %>:
    <%= f.text_area :topic, placeholder: 'Enter topic name', autofocus: true %>
    <%= f.submit 'Create' %>
  <% end %>
</div>
