<nav class="main-nav">
  <ul class="content-nav">
    <li>
      <%= link_to('Home', root_path) %>
    </li>
  </ul>

  <aside>
    <ul class="user-nav">
      <% if user_signed_in? %>
        <li>
          Hola, <%= current_user.name %>
        </li>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path) %></li>
      <% end %>
    </ul>
  </aside>
</nav>
