<div class="demos-nav">
  <%= link_to('Home page (react)', root_path, class: 'block') %>
  <%= link_to('Lists page (react)', lists_path, class: 'block') %>
  <%= link_to('App page (react-router)', home_router_path, class: 'block') %>
</div>
