<main id="vue_home_app">
  <div class="container">
    <h1>{{ container }}</h1>
  </div>
  <aside>
    <h1>{{ sidebar }}</h1>
  </aside>
  <%= link_to('Home page - react version', root_path, class: 'block') %>
  <%= link_to('Lists page - react', lists_path, class: 'block') %>
</main>
<%= javascript_pack_tag 'home-vue' %>
