<div id="vue_home_app" v-cloak>
  <div class="container">
    <h1>{{ container }}</h1>
  </div>
  <aside>
    <h1>{{ sidebar }}</h1>
  </aside>
  <%= render 'shared/nav' %>
</div>
<%= javascript_pack_tag 'home-vue-component' %>
